.main
  .head
    .group-member
      .group-member__group
        group
      .group-member__member
        member :
        .group-member__member__person
          person
    .edit
    = link_to "#", class: "edit-btn" do
      edit 
  .chat
    .contents
      .contents__block
        .contents__block__user
          user
        .contents__block__date
          date
      .contents__message
        message 
  .message   
    %form.form
      .form__block
        %input{:type => "text", :placeholder => "type a message", :class => "input-text"}
        %label{class: "input-box__image"}
          = icon('fas', 'image', class: 'input-box__image__icon')
          %input{:type => "file", :class => "input-box__image__file"}       
      %input{:type => "submit", :value => "send", :class => "input-form__btn"} 

