.main
  .head
    .head__group-member
      .head__group-member__group
        
        group
      .head__group-member__member
        member :
        .head__group-member__member__person
          person
    .head__exit
    = link_to "#", class: "main__head__exit-btn" do
      edit 

  
  .chat
    .chat__contents
      .chat__contents__block
        .chat__contents__block__user
          user
        .chat__contents__block__date
          date
      .chat__contents__message
        message 
  .message   
    %form.form
 
      .form__block
        %input{:type => "text", :placeholder => "type a message", :class => "input-text"}

        %label{class: "input-box__image"}
          = icon('fas', 'image', class: 'input-box__image__icon')
          %input{:type => "file", :class => "input-box__image__file"}  
       
     
      %input{:type => "submit", :value => "send", :class => "input-form__btn"} 

